{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table table-striped table-light">
        <thead>
            <tr>
                <th>Id</th>
                <th>Number</th>
                <th>Name</th>
                <th>Price</th>
                <th>PriceNet</th>
                <th>Vat</th>
                <th>Description</th>
                <th>Published</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.number }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.priceNet }}</td>
                <td>{{ product.vat }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.published ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_product_show', {'id': product.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
